/* mobile & tablet */
@media (max-width:1023px){
    :root{
        --header-height:68px;
        --navbar-height:0px;
    }
  .hide-on-mobile-tablet{
      display: none;
  }
  .header {
      padding:0;
  }
  .header__cart-list{
      position: fixed;
      width: 90%;
      top: var(--header-height);
      right:0px;

  }
}

/* tablet */
@media (min-width:740px) and (max-width:1023px){
.hide-on-tablet{

}
}

/* mobile */
@media (max-width:739px){
.hide-on-mobile{

}
}